<!--Saved Articles Page-->

<div class="container">

    <div class="col-md-12 jumbotron">
        <div class="text-center">
            <h1> Saved Articles</h1>
        </div>
    </div>
    <div class="col-md-12">
        {{#if article}}
            {{#each article}}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>{{this.title}}</h4>
                    </div>
                    <div class="panel-body">
                        <a href={{this.link}} target="_blank">{{this.link}}</a>
                        <br><br>
                        <button type="button" class="btn btn-success saveNote" data-toggle="text" data-target="#noteModal{{this._id}}" data-id={{this._id}}>View/Add Notes</button>
                        <button type="button" class="btn btn-danger delete" data-id={{this._id}}>Delete</button>
                    </div>
                </div>
                <div class="form form-group">
                    
                </div>
                
                
                
            {{/each}}
        
        {{#if this.notes}}
                    {{#each this.notes}}
                        <div class="panel panel-default">
                            <p class="previousNotes"> {{this.body}}</p>
                            <button type="button" class="btn btn-danger deleteNote" data-note-id={{this._id}} data-article-id={{this.article}}>X</button>
                            <input type="text"></input>
                        </div>
                    {{/each}}
        {{/if}}
        {{else}}
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>You have no saved articles.</h4>
            </div>
        </div>
        {{/if}}
    </div>
</div>

